#left_click          :MouseButtonDown_1
#middle_click        :MouseButtonDown_2
#right_click         :MouseButtonDown_3
#connectionQuality   :Arduino_quality   #Only available with a Mindflex headset
#attention           :Arduino_attention #Only available with a Mindflex headset
#look                :Arduino_eyeValue  #Only available with an EMG circuit
#look                :MouseMotion
#startCalibration    :space_down

# Navigating the interface:
selectOption        :MouseButtonDown_1
exit                :escape_down
p1control_left      :left_down
p1control_right     :right_down

p1control_left      :PIC_Button0
p1control           :PIC_Potentiometer0
p2control           :PIC_Potentiometer1
p1boost             :PIC_Button0
p2boost             :PIC_Button1
